<header>rareform
<!-- <p>Find me in app/views/songs/index.html.erb</p> -->
</header>

<h2>Upload a new MP3</h2>
<img src="https://cdn2.vox-cdn.com/thumbor/sGIsOkwzian7M5nJrtc4Y35sClM=/cdn0.vox-cdn.com/uploads/chorus_asset/file/694642/nicolas_cage_breeze.0.gif" alt="Cage being Cage" width="300" height="180">
<%= form_tag upload_path, :method => "post", :multipart => true do %>
	<%= file_field_tag "mp3file" %>
	<%= submit_tag "Upload" %>
<% end %>

<h2>Download and Delete Existing MP3's</h2>
<table>
	<% @tracks.each do |track| %>
		<tr>
			<h3><%= link_to track.title, track.permalink_url %></h3>
                <table>
                    <% @song_comments.each do |comments| %>
                        <% comments.each do |comment| %>
                            <tr>
                                <td>
                                    <%= comment.body %>
                                </td>
                            </tr>
                    	<% end %>
                	<% end %>
                </table>
		</tr>
	<% end %>
</table>
