	<head>
	  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
	  <script src="http://w.soundcloud.com/player/api.js"></script>
	  <script>
	   $(document).ready(function() {
	     var widget = SC.Widget(document.getElementById('soundcloud_widget'));
	     widget.bind(SC.Widget.Events.READY, function() {
	       console.log('Ready...');
	     });
	     $('button').click(function() {
	       widget.toggle();
	     });
	   });
	  </script>
	</head>

<header>rareform
<!-- <p>Find me in app/views/songs/index.html.erb</p> -->
</header>

<div class='spine'>
	<iframe id="soundcloud_widget"
      src="https://w.soundcloud.com/player/?visual=true&url=http://api.soundcloud.com/tracks/209547828&show_artwork=true"
      width="420"
      height="120"
      frameborder="no"></iframe>
</div>

<div class='spine' style='float: right'>
    <img src="https://s-media-cache-ak0.pinimg.com/originals/97/7e/aa/977eaad30d77ab9716e122a75a10bb3b.gif" alt="Pratt being Pratt" width="300" height="180">
    <%= form_tag upload_path, :method => "post", :multipart => true do %>
    	<%= file_field_tag "mp3file" %>
    	<%= submit_tag "Upload" %>
    <% end %>
</div>

<h2>Hot Ass Metal Tracks</h2>
<table>
	<% @tracks.each do |track| %>
		<tr>
			<h3><%= link_to track.title, track.permalink_url %></h3>
                <table>
                    <% @song_comments.each do |comments| %>
                        <% comments.each do |comment| %>
                            <tr>
                                <td>
                                    <%= comment.body %>
                                </td>
                            </tr>
                    	<% end %>
                	<% end %>
                </table>
		</tr>
	<% end %>
</table>

<script type="javascript">
	var iframeElement   = document.querySelector('iframe');
	var iframeElementID = iframeElement.id;
	var widget1         = SC.Widget(iframeElement);
	var widget2         = SC.Widget(iframeElementID);
// widget1 === widget2
</script>
